body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

nav {
  margin: 1rem 0;
}

p {
  font-size: 1.3rem;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #2c429b;
  margin-left: 8px;
}

button {
  padding: 1rem 2rem;
  font-size: 1.3rem;
  border: none;
  background: #2c429b;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #23357c;
}
